@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <img src="@Url.Content("http://jacobsfoundation.org/wp-content/uploads/2012/11/Jacobs-University_new_web_featured.jpg")" alt="Image" />
</div>